@import "root.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: image("background_site.png");
    a:link{color: white}
    a:visited{color: white}
}

.text1 {
    float: left;
    font-size: 16pt;
    font-family: "Fake Receipt";
    color: white;
}

.image {
    text-align: center;
}

.text2 {
    float: right;
    font-size: 16pt;
    font-family: "Fake Receipt";
    color: white;

}

.about {
    color: white;
    font-size: 16pt;
    font-family: "Fake Receipt";
    text-align: center;
}

.index2 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Fake Receipt";
}